.idea
.parcel-cache/

/node_modules/

/example/.parcel-cache
/example/dist/
/example/build/
/example/node_modules/
/example/node_modules/.bin/
/example/node_modules/parcel-transformer-assemblyscript-codument/
/example/**/*.js.map



/parcel-transformer-assemblyscript-codument/node_modules/
/parcel-transformer-assemblyscript-codument/node_modules/.bin/
/parcel-config-assemblyscript-codument/node_modules/
/parcel-transformer-assemblyscript-codument/tsconfig.tsbuildinfo
/parcel-transformer-assemblyscript-codument/dist/
/example/yarn-error.log

/parcel-packager-wasm/node_modules/
/parcel-packager-wasm/node_modules/.bin/
